

.main{
    /* background: #17bf9e;  */
    color: #fff;
    padding: 70px;
    border-radius: 15px;
}




.main .div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Placed{
    height:400px;
}

.search{
    display: flex;
   
}
.search input{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
}
.search:focus{
    border: 2px solid #17bf9dc9;
}
.search .btn{
    background-color: dodgerblue;
    color: #fff;
    border-radius:30px;
    padding: 10px;
    width: 100px;
    margin: 0px 10px;

}
.search .btn:hover{
    color: dodgerblue;
    border: 1px solid dodgerblue;
    background-color: #fff;
}


.Subs_img img{
    width: 100px;
    height: 100%;
    border-radius: 10px;
}